html {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding-bottom: 1em;
}

.picture-card {
  background-color: rgba(240, 195, 140, 0.7);
  border-radius: 4ch;
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 20rem;
  width: 26rem;
  box-shadow: 0 .2rem 1rem rgba(0, 1, 0, 1);

}

.small-card {
  background-color: rgba(255, 182, 93, 0.864);
  border-radius: 4ch;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 4rem;

}

.top-left {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.square {
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.kindle-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.kindle-image-container{
position: relative;
width: 100%;
}

.kindle-image-container:hover .kindle-card-image{
  opacity: 0;
}

.kindler-overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #008CBA;
}

.textt {
  color: rgb(0, 0, 0);
  background-color: #008CBA;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 55;

}
/* .kindler-overlay-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 5;
} */

/* .kindler-overlay-text:hover {
  transition: .3s ease;
  opacity: 1
} */

.kindle-text {
    text-shadow: 0 0 3px rgb(120, 127, 221);
    /* background-color: rgba(255, 0, 0, 0.5); */
}

.kindle-card {
  max-width: 100%;
  max-height: 50%;
  height: 60%;
  /* object-fit: cover; */
}

.kindle-card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.kindle-top-level-card {
  --bs-card-spacer-x: 1rem;
  --bs-card-spacer-y: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  /* background-color: var(--bs-card-bg); */
  background-color: rgba(252, 252, 252, 0.822);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

.kindle-card-image {
  position: relative;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 2%; 
  z-index: 6;
  transition: .3s ease;
}

.kindle-bg {
  background-image: url("../public/KindlerBackground.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* width: 100vw; */
  /* height: 100vh; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* filter: blur(1px); */
}

.create-event-bg {
  background-image: url("../public/CreateEventBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* width: 100vw; */
  /* height: 100vh; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* filter: blur(1px); */
}

.button-font {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.793);
  background-color: rgb(255, 207, 104);
  border: 3px solid #bc9100;
  }

  picture {
    display: grid;
    place-items: center;
    vertical-align: middle;
  }

  nav {
    border-radius: 20px 20px 20px 20px;
    margin-top: 3px;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: 0 .2rem .5rem rgba(0, 1, 0, .5);

  }

  .special {
    padding-top: 5rem;
  }

  .light_padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .profile_circle {
    border-radius: 100ch;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: right;
    align-items: right;
    border: 3px solid #ffc507e0;
  }

  .special_nav {
    flex-direction: row-reverse
  }

  .pointer {
    cursor: pointer;
  }

  .pointer:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .center_card_text {
    text-align: center;
  }

  .main-bg {
    background-image: url("../public/mountain.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* filter: blur(1px); */
    /* opacity: 0.8; */
  }

  .login-bg {
    background-image: url("../public/LoginBackground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* width: 100vw; */
    /* height: 100vh; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* filter: blur(1px); */
    /* opacity: 0.8; */
  }

  .login-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }



  .intro-bg {
    background-image: url("https://wallpaperaccess.com/full/1081641.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* filter: blur(1px); */
    opacity: 0.6;
  }

  .event-bg {
    /* Sizing */
    background-image: url("https://images.unsplash.com/photo-1518023176010-e14eb57eecf9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    width: 100vw;
    height: 100vh;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0.8;
    /* filter: blur(1px); */
  }

  .activity-bg {
    /* Sizing */
    background-image: url("https://images.pexels.com/photos/2397651/pexels-photo-2397651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    width: 100vw;
    height: 100vh;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    opacity: 0.8;
    /* filter: blur(1px); */
  }

  .over-bg {
    z-index: 10
  }

  .padding_bottom {
    padding-bottom: 2rem;
  }

  .padding-top {
    padding-top: 5%;
  }

  .home-div {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
  }

  .font {
    font-family: 'Merriweather', serif;
  }

  .hero-text {
    font-size: 80px;
  }

  .hero-sub-text {
    font-size: 50px;

  }

  .hero-bottom {
    position: fixed;
    left: 50%;
    bottom: -12px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
  }

  .crop-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .align-right {
    margin-right: auto;
    display: flex;
    justify-content: right;
  }

  .right {
    display: grid;
    justify-content: right;
  }

  .border {
    border-radius: 2ch;
  }

  .activeList {
    display: inline-flex;
    flex-direction: column;
    height: 2rem;
    flex-wrap: wrap;
  }

  .item {
    padding: 0 4px;
  }

  .box_bg {
    background-color: #000000bd;
    border-radius: 1.9ch;
  }

  .center {
    display: grid;
    justify-content: center;
    color: white;
  }

  .activities-bg {
    background-image: url("https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* filter: blur(1px); */
    /* opacity: 0.8; */
  }

  .background-opacity {
    background-color: rgba(255, 255, 255, 0.887);
  }

  .tiny-card {
    width: 80%;
    height: 80%;
    border-radius: 1.9ch;
  }

  .pointer2 {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }

  .padding-top-med {
    padding-top: 3rem;
  }

  .carousel-control-next-icon {
    border-radius: .9ch;
    background-color: rgba(0, 0, 0, 0.444);
  }

  .carousel-control-prev-icon {
    border-radius: .9ch;
    background-color: rgba(0, 0, 0, 0.454);
  }

  .accordion-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.608);
  }

  .accordion-button:not(.collapsed) {
    color: white;
    background-color: rgba(0, 0, 0, 0.753);
  }

  .accordion-button::after {
    color: white;
    border-radius: 1.9ch;
    background-color: rgba(255, 255, 255, 0.539);
  }

  .accordion-button:not(.collapsed)::after {
    color: white;
    background-color: rgba(255, 255, 255, 0.412);
  }

.paginate-button{

  background-color: rgba(67, 67, 67, 0.914);
  border-radius: .9ch;
  width: 10rem;
  height: 5rem;
  transition:.3s ease;
  
}
  
.outline{
  border: solid rgb(255, 255, 255);
    border-width: 0 199px 199px 0;
    display: inline-table;
    padding: 4.5rem;
    border-bottom-right-radius: .8ch;
    border-bottom-left-radius: .7ch;
    border-top-right-radius: .7ch;
}

  .arrow {
    border: solid rgba(230, 230, 230, 0.681);
    border-width: 8px 0 0 8px;
    display: inline-table;
    padding: 1.5rem;
    border-bottom-right-radius: .8ch;
    border-bottom-left-radius: .5ch;
    border-top-right-radius: .5ch;
    box-shadow:
     0 0 0 0 hsla(0, 0%, 80%, 0.533),
     -10px -10px 10px 0 hsla(0, 0%, 56%, 0.228);  
  }

  .down {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .search-bg {
    background-image: url("https://images.unsplash.com/photo-1488188840666-e2308741a62f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

.div-center{
 display: grid;
 justify-content: center;
}

.center-p{
  text-align: center; 
  padding-bottom: 3rem;  
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.551);
}

.paginate-button:hover{
    cursor: pointer;
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}
/* 
 .arrow-border{
    text-shadow: 
        -1px -1px 0px rgba(255, 255, 255, 0.512),
         0px -1px 0px rgba(255, 255, 255, 0.539),
         1px -1px 0px rgba(255, 255, 255, 0.533),
        -1px  0px 0px rgba(255, 255, 255, 0.534),
         1px  0px 0px rgba(255, 255, 255, 0.514),
        -1px  1px 0px rgba(255, 255, 255, 0.525),
         0px  1px 0px rgba(255, 255, 255, 0.528),
         1px  1px 0px rgba(255, 255, 255, 0.532);

}   */

.event-pointer{
  cursor: pointer;
}

.back-to-top-btn{
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 1.5rem;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.551);
  background-color: rgba(67, 67, 67, 0.914);
  border-radius: .9ch;
  width: 10rem;
  height: 5rem;
  transition:.3s ease;
  font-weight: bold;
}

.back-to-top-btn:hover{
  font-weight: bolder;
  color: white;
  cursor: pointer;
  transform:scale(1.1,1.1);
  -webkit-transform:scale(1.1,1.1);
  -moz-transform:scale(1.1,1.1);
}